.hero {
    background: #1f2937;
    
    padding: 0;
    margin: 0;

}
body,html {
    padding: 0;
    margin: 0;
}

.logo img {
    width: 7vw;
    height: 7vw;
    border-radius: 50px;
}
.building img {
    max-width: 420px;;
}
.first {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-left: 15rem;
   
}
.one {
    margin-right: 2vw;
    margin-bottom: 5px;
}
.text-image {
    display: flex;
    margin: 5vw 7vw 0px 5vw;
    justify-content: space-between;
 
}

.text {
    margin-right: 3vw;
    margin-top: -5vw;
    
}

.scientific div p   {
    color: black;
    max-width: 200px;
}

.text button {
    background-color: #3882F6;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    min-width: 1vw;
}
.first ul {
    display: flex;
    gap: 4vw;
    margin-right: 8vw;
}
ul,
p {
    color: white;
    list-style-type: none;
    font-size: 1rem;
    color: #e5e7eb;
    
}
h1 {
    font-size:3em;
    font-size: 3.5vw;
    color: #f9faf8;
}
.scientific img {
    width: 12vw;
    height: 15vh;

}
.information {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-top: 3rem;
}
.scientific {
    display: flex;
    margin-top: 50px;
    text-align: center;
    gap: 4vw;
    justify-content: flex-end;
    margin-right: 10vw;


}
.quote-container {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #1f2937;
    padding: 30px;

}
br {
    font-weight: bold;
}
.subscript {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.white {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 350px;
    align-items: center;
}
.blue-container {
    background-color: #2882f6;
    width: 80vw;
    height: 150px;
    display: flex;
    border-radius: 8px;
    justify-content: space-evenly;
    align-items: center;
}

.text-inside-blue {
    margin-left: 0.7rem;
}
.button2 button {
    background-color: #2882f6;
    color: #e5e7eb;
    width: 12vw;
    font-size: 1rem;
    font-weight: bold;
    border: solid white;
    border-radius: 10px;
    padding: 1vw;
    margin-right: 0.7rem;

}
.text1 {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.text2 {
    color: antiquewhite;
    font-size: 20px;
}
.footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .text-image {
        display: flex;
        flex-direction: column;
    }
    .building img {
        margin-bottom: 20px;
        margin-top: 16px;
    }
    .first {
        display: flex;
        justify-content: center;
        gap: 0.5vw;
        align-items: center;
        margin-left: 1rem;
    }
     .hero ul  {
        display: flex;
        gap: 4vw;
        font-size: 0.9rem;
    }
    .text {
        text-align: center;
    }
    .building img {
        max-width: 70vw;
    }
    .building {
        display: flex;
        margin: auto;
    }
    button,
    .quote {
        margin: 8px;
    }
    .scientific {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .scientific img {
        min-width: 150px;
        width: 70vw;
        height: auto;
        
    }
    .scientific div {
        width: 70vw;
    }
    
    .blue-container{
        display: flex;
        flex-direction: column;
        padding: 10vw 1vw;
    }
    .button2 button {
        width: 100px;
    }
    .footer {
        gap: 10px;
        padding: 8px;
    }
    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}