.hero {
    background-color: #1f2937;
    height: 550px;
    
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.building img {
    height: auto;
    width: 420px;
}
.first {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-left: 200px;
   
}
.one {
    margin-right: 30px;
}
.text-image {
    display: flex;
    margin: 70px 100px 0px 200px;
    justify-content: space-between;
   
}

.scientific div p   {
    color: black;
    width: 200px;
}

.text button {
    background-color: #3882F6;
    color: white;
    padding: 14px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    width: 150px;
}
.first ul {
    display: flex;
    gap: 60px;
    margin-right: 100px;
}
ul,
p {
    color: white;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    
}
h1 {
    font-size: 48px;
    font-weight: 700px;
    color: #f9faf8;
}
.scientific img {
    height: 200px;
    width: 200px;

}
.information {
    font-size: 32px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    margin-top: 40px;
}
.scientific {
    display: flex;
    margin-top: 50px;
    text-align: center;
    gap: 50px;
    justify-content: flex-end;
    margin-right: 100px;

}
.quote-container {
    background-color: #e5e7eb;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #1f2937;

}
br {
    font-weight: bold;
}
.subscript {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
.blue-container {
    background-color: #2882f6;
    width: 1000px;
    height: 200px;
    display: flex;
    
}